<form novalidate #ngForm="ngForm" (submit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Użytkownik</h4>
    <button type="button" class="close" (click)="onCancelClick()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ng-container *ngIf="(user$ | async) as user">
      <div class="form-row">
        <div class="col">
          <label for="firstName">Imię</label>
          <input id="firstName" name="firstName" type="text" class="form-control" required [ngModel]="user.firstName" />
        </div>

        <div class="col">
          <label for="lastName">Nazwisko</label>
          <input id="lastName" name="lastName" type="text" class="form-control" required [ngModel]="user.lastName" />
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <label for="email">E-mail</label>
          <input id="email" name="email" type="text" class="form-control" required [ngModel]="user.email" />
        </div>
      </div>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success">Zapisz</button>
    <button type="button" class="btn btn-outline-dark" (click)="onCancelClick()">Anuluj</button>
  </div>
</form>
